<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="FullSite.WebListenerJbk"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="FullSite.Login_RegistrationPage"/>
      <class name="FullSite.UsersPage"/>
      <class name="FullSite.DownloadsPage"/>
      <class name="FullSite.DashBoardHomePage"/>
      <class name="FullSite.UsefulLinks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
